.navbar-brand img{
    width: 25vw;
}
.navbar-brand{
    align-items: center;
}
main section img{
    width: 40vw;
    
}
main section{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.produtos img{
    width: 400px;
    height: 400px;
}
.produtos{
    display: flex;
    align-self: start;
    margin: 5rem 1.5rem 0rem 1.5rem ;
    border: solid #746e6e;
    border-radius: 25px 25px 0px 0px;
}
.produtos h2{
    font-size: 20px;
    font-weight: 700;
    margin-top: 1rem;
}
.produtos h4{
    font-size: 15px;
    font-weight: 500;
}
.produtos h5{
    text-decoration: line-through;
}
.produtos h1{
    font-weight: 800;
}
button{
    border: none;
    border-radius: 25px;
    background-color: aqua;
    color: rgb(26, 1, 43);
    font-size: 22px;
    height: 60px;
    width: 95vw;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
footer img{
    width: 10vw;
} 

@media(main-width:786px){
    .navbar-brand img{
        width: 12vw;
    }
    main section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    main section img{
        width: 40%;
    }
    main section article{
        width: 70%;
    }
    .produtos{
        width: 20vw;
    }
    .produtos img{
        width: 19vw;
    }
    footer img{
        width: 12vw;
    }
}
.carousel{
    padding: 0px 120px;
}
